/* main css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   background-color:#F2EDED;
}

.primary-text {
    color: #4E47FF;
}

.primary-bg {
    background-color: #4E47FF;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
    background-color: #4E47FF;
     color: white;
     padding: 12px 36px;
     border: none;
     border-radius: 10px;
     font-weight: bold;
     font-size: 16px;
     cursor: pointer;

}

#header {
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom:152px;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0px;
}
.nav-logo a {
    text-decoration: none;
}
.nav-logo .nav-title {
    color: #4E47FF;
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
}

/* hero section */
.hero-content {
    margin-top: 158px;
    text-align: center;
}
.hero-title {
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    line-height: auto;
}

.hero-btn {
margin-top: 37px;
}
/* action section style */
#action {
display: flex;
justify-content: space-between;
align-items: center;
gap: 220px;
max-width: 1140px;
margin: 116px auto;
}
.section-title {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.section-description {
    color: #25243250;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

.action-img img{
   border-radius: 48px;
}

/* productive section */
#productive {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #4E47FF10; */
    background-image: linear-gradient(rgba(78, 71, 255, 0.1));
    border-radius: 24px;
    padding: 50px 80px;
    margin-bottom: 137px;
}
.productive-title {
    color: #252432;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 40px;
}
.productive-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productive-content h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.productive-content p {
    font-size: 20px;
    color: #00000050;
}

/* user comment */
#user-comment {
    max-width: 1140px;
    margin: 0 auto 132px auto;
    text-align: center;
}
.user-title {
    font-size: 42px;
    font-weight: bold;
    color:#252432;
    margin-bottom: 50px;
}

.user-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.user-cards  .card {
   padding: 24px;
   background-color: #ffffff;
   border-radius: 14px;
   text-align: left;
}

.card img {
    margin-bottom: 24px;
    display: inline-block;
    margin-right: 4px;
}

.card h2 {
font-size: 24px;
line-height: 120%;
letter-spacing: -2%;
margin-bottom: 8px;
}
.card p {
    font-size: 16px;
    line-height: 140%;
    color: #1E1E1E;
    margin-bottom: 24px;
}

.user-ditals {
    display: flex;
    align-items: center;
    gap: 6px;
}
.user-ditals img {
    border-radius: 50%;
}
.user-ditals h6 {
    font-weight: 600;
    color: #757575;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 2px;
}

.user-ditals  p {
    font-size: 16px;
    line-height: 140%;
    color: #B3B3B3;
}

/* focus section start */

#focus {
    max-width: 1140px;
    margin: 0 auto 92px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 45px 150px;
    background-color: #ffffff;
    border-radius: 14px;
    
}
.focus-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 120%;
    color: #000000;
}

#focus p{
color: #00000050;
font-size: 16px;
line-height: 140%;
}



#focus img {
    border-radius: 48px;
}
/* from section style */
#from-section {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 0;
}

.from-title {
    font-size: 97px;
    line-height: 120%;
    font-weight: bold;
    color: #000000;
}
.from-area {
    width: 50%;
}
label {
    margin-bottom: 10px;
    font-weight: 500;
}
.from-area label,
.from-area input,
.from-area textarea {
    display: block;
    width: 100%;
}

.from-area input,
.from-area textarea{
    padding: 20px 32px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
    font-size: 20px;
}

/* footer */
.footer-area {
    text-align: center;
    background-color: #ffffff;
    padding: 104px;
}

.footer-title {
    font-size: 100px;
    color: #4E47FF;
    font-weight: bolder;
}

.footer-area p {
    line-height: 150%;
    color: #8987A1;
}

.footer-links  {
    margin-top: 20px;
}
.footer-links a {
    display: inline-block;
    margin-right: 48px;
    text-decoration: none;
    font-size: 16px;
    color: #8987A1;
}